body {
    font-family: sans-serif;
    background-color: #F3F3F3;
}

a {
    text-decoration: none;

}

footer {
    box-shadow: 0 0 1em black;
    width: 100%;
    padding: 1em 0;
    background: #cccccc; /* Old browsers */
    background: -moz-linear-gradient(top, #cccccc 0%, #c6c6c6 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cccccc), color-stop(100%,#c6c6c6)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #cccccc 0%,#c6c6c6 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #cccccc 0%,#c6c6c6 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #cccccc 0%,#c6c6c6 100%); /* IE10+ */
    background: linear-gradient(to bottom, #cccccc 0%,#c6c6c6 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cccccc', endColorstr='#c6c6c6',GradientType=0 ); /* IE6-9 */
    clear: both;
    text-align: center;
    font-size: small;
}

footer a {
    color: black;
}

footer a:hover {
    border-bottom: 3px solid black;
}

header {
    padding: 1em 0;
    overflow: visible;
}

header ul, header #companyNameDiv {
    line-height: 2em;
}

header ul {
    /*
    margin-left: 19em;
    */
    font-size: large;
    overflow: auto;
    border-radius: 0.5em;
    box-shadow: 1px 1px 5px #AAAAAA;
    border: 1px solid black;
    background: #52555b; /* Old browsers */
    background: -moz-linear-gradient(top, #52555b 0%, #000000 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#52555b), color-stop(100%,#000000)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #52555b 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #52555b 0%,#000000 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #52555b 0%,#000000 100%); /* IE10+ */
    background: linear-gradient(to bottom, #52555b 0%,#000000 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#52555b', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

@media screen and (min-width: 55.5em) {
    header #companyName {
        float: left;
    }

    header ul {
        margin-left: 19em;
    }
}

@media screen and (min-width: 61.5em) {
    header #companyName {
        float: none;
    }

    header ul {
        margin-left: 0;
    }
}

@media screen and (min-width: 75em) {
    header #companyName {
        float: left;
    }

    header ul {
        margin-left: 19em;
    }
}

header li {
    /*
    display: inline;
    */
    padding: 0 0.5em;
    float: left;
    list-style: none;
    vertical-align: middle;
    height: 100%;
}

header li:first-child {
    border-top-left-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
    padding-left: 1em;
}

header li:nth-last-child(1) {
    text-align: right;
    float: right;
    border-left: 1px solid grey;
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    padding-right: 1em;
}

header #companyName {
    font-size: xx-large;
    color: black;
    text-shadow: 1px 1px 10px #CCC;
    vertical-align: middle;
    position: relative;
    overflow: visible;
}

header #slogan {
    font-size: 0.47em;
    position: relative;
    top: -1em;
}

header a {
    color: #DDDDDD;
}

header li:hover {
    background-color: #444;
}

header li:hover a {
    color: white;
}

.red {
    color: #FF4900;
}

.green {
    color: #00CC00;
}

.blue {
    color: #0B61A4;
}

/*
a.linkMed {
    color: #00CC00;
}

a.linkMed:hover {
    border-bottom: 3px solid #00CC00;
}

a.linkBau {
    color: #0B61A4;
}

a.linkBau:hover {
    border-bottom: 3px solid #0B61A4;
}

a.linkKontakt {
    color: #FF4900;
}

a.linkKontakt:hover {
    border-bottom: 3px solid #FF4900;
}
*/

img {
    max-width: 100%;
}

#main {
    clear: both;
    padding: 1em 0;
}

.expo, .additional {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    overflow: auto;
    position: relative;
}

.expo {
    border-radius: 0.5em;
    box-shadow: 1px 1px 5px #AAAAAA;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
    margin-bottom: 1em;
}

.expo:first-child {
    margin-top: 0;
}

.expo .caption{
    position: absolute;
    bottom: 1.5em;
    width: 50%;
}

.expo .caption h2, .additional h2{
    font-size: large;
    margin: 0;
}
.expo .caption p, .additional p {
    font-size: medium;
}

.expo img{
    float: right;
    width: 40%;
    min-width: 12em;
}
